#color{
    background-color: red;
    height:100%;
}
.perso{
    padding:0;
    margin:0;
}
.margineSx{
    margin-left : 0;
    padding: 0; 
}
.title{
    
    padding:20px 0 20px 0;
    position:relative;
    height:80px;  
}
.title>h1{
    font-size: 30px;
    font-weight: bold;;
}
.content-first{
    position:relative;
    background-color: #fdbd3f;

}
.image img{   
    width:150px;
    position: absolute;
    top:-10px;
    right:0;

}
.box-hamburger img{
    width:200px;
}
/* ------------------------------------------------- */

/* classi intermedie tra header e main */
#name{
    margin-top:30px;
    margin-bottom: 30px;;
    font-size:23px;
    font-weight: bold;;
}
.ingredienti{
    font-size:18px;
}
/* ------------------------------------------------- */

/* inizio classi del main content: */
.main-content{
    margin-top:20px;
}
.spazio-sotto{
    margin-bottom:50px;
}
.personal{
    display:flex;
    flex-direction:column;
}
.box-img{
    width:50px;
    display: inline-block;
    margin-right:20px;
    margin-top:20px;
}
.box-img img{
    width:100%;
}
/* Classi discount-coupon */
#coupon{
    width:60%;
    margin-left:20px;
    border:none;
    border-radius:10px;
    background: #fef5e3;;
    padding:5px;
}
#button{
    margin:0 auto;
    margin-top:30px;
    border-radius:10px;
    border: 1px solid #fdbd3f;
    background-color:#fdbd3f;
    font-size:18px;
    padding:10px;
    width:150px;
    font-weight:bold;
}
.centratura{
    text-align: center;;
}
/* ---------------------------- */
/* Footer */
.footer{
    background-color: #d43059;
    margin-top:50px;
    padding: 20px 0 20px 0;
    color:white;
    font-size:20px;
    font-weight: bold;
}

#boxes-content{
    text-align: right;;
}


/* ------------------------------- */