.margineSx{
    margin-left : 0;
    padding: 0; 
}
.title{
    background-color: orange;
    padding:20px 0 20px 0;
    position:relative;
}
.content-first{
    position:relative;
    width:1000px;
}
.content-title{
    width:900px;
}
.image img{   
    width:200px;
    position: absolute;
    top:-20px;
    right:0;

}
.box-hamburger img{
    width:200px;
}
/* ------------------------------------------------- */

/* classi intermedie tra header e main */
#name{
    margin-top:50px;
    margin-bottom: 30px;;
    font-size:23px;
    font-weight: bold;;
}
.ingredienti{
    font-size:18px;
}



/* ------------------------------------------------- */

/* inizio classi del main content: */
.main-content{
    margin-top:20px;
}
.spazio-sotto{
    margin-bottom:200px;
}
.personal{
    display:flex;
    flex-direction:column;
}
.box-img{
    width:50px;
    display: inline-block;
    margin-right:20px;
    margin-top:20px;
}
.box-img img{
    width:100%;
}
